/* Top level is idpSelectIdPSelector */
div.IdPSelect
{
    width: 500px;
    text-align: left;
    background-color: #FFFFFF;
    border: 2px #A40000 solid;
    padding: 10px;
}

/* Next down are the idpSelectPreferredIdPTile, idpSelectIdPEntryTile & idpSelectIdPListTile */

/*
 * The preferred IdP tile (if present) has a specified height, so we can fit the preselected 
 * IdPs in thete
 */
div.IdPSelect #idpSelectPreferredIdPTile
{
	width: 100%;
        height: 86px;
}

/*  The preselections are in this class */
div.IdPSelect div.preferredIdPButton
{
    margin: 2px;
    width: 32%;
    heigth: 86px;
    float: left;
}

div.IdPSelect div.preferredIdPButton img
{
    display: block;
    max-width: 95%;
    max-height: 80px;
    margin-top: 3px ;
    margin-bottom: 3px ;
    border: solid 0px #000000;
    margin-left: auto;
    margin-right: auto;

}

/*  The preselections are in this class */
div.IdPSelect div.preferredIdPButton a
{
    border: 1px solid #ff0000;
    float: left;
    width: 95%;
    
}
div.IdPSelect div.preferredIdPButton a:visited 
{
    border: 1px solid #00ff00;
}

div.IdPSelect div.preferredIdPButton a:hover 
{
    border: 1px solid #0000ff;
}

div.IdPSelect div.preferredIdPImg
{
  max-width: 95%;
  height: 86px;
  margin: 2px;
}

div.IdPSelect div.preferredIdPName
{
  text-align: center;
  font-weight: normal;
  max-width: 95%;
  height: 40px;
}

div.IdPSelect #idpSelectIdPEntryTile
{
}

div.IdPSelect #idpSelectIdPListTile
{
}


/*
 * drop down stuff
 */

 div.idpSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

div.idpSelectDropDown div {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

 div.idpSelectDropDown div.idpSelectCurrent {
    background-color: #3366cc;
    color: white;
}
/* END */
