/* Top level is idpSelectIdPSelector */
div.IdPSelect
{
    width: 500px;
    text-align: left;
    background-color: #FFFFFF;
    border: 2px #A40000 solid;
    padding: 10px;
}

/* Next down are the idpSelectPreferredIdPTile, idpSelectIdPEntryTile & idpSelectIdPListTile */

/** 
 * The preferred IdP tile (if present) has a specified height, so
 * we can fit the preselected * IdPs in there
 */
div.IdPSelect #idpSelectPreferredIdPTile
{
    height:163px; /* Force the height so that the  selector box
                   * goes below when there is only one preslect 
                   */
}

/***
 *  The preselect buttons
 */
div.IdPSelect div.preferredIdPButton
{
    margin: 3px;
    width: 160px;  /* Make absolute because 3 of these must fit inside 
                      div.IdPSelect{width} with not much each side. */
    float: left;
}

/*
 *  Make the entire box look like a hyperlink
 */
div.IdPSelect div.preferredIdPButton a
{
    border: 1px solid black;
    float: left;
    width: 99%; /* Need a specified width otherwise we'll fir the contents which we don't want because they have auto margins */
    
}
div.IdPSelect div.preferredIdPButton a:visited 
{
    border: 1px solid #551a8b; /* Mozilla 'visted' colour.  Can we not inherit this? */
}

div.IdPSelect div.preferredIdPButton a:hover 
{
    border: 1px solid #0000ee;  /* Mozilla hyperlink colour */
}

div.IdPSelect div.textDiv{
    height: 24px; /* Add some height to separate the text from the boxes */
}

div.IdPSelect div.preferredIdPImg
{
/*  max-width: 95%; */
  height: 86px; /* We need the absolute height to force all buttons to the same size */
  margin: 2px;
}

div.IdPSelect div.preferredIdPButton img
{
    display: block;    /* Block display to allow auto centring */
    max-width: 95%;    /* Specify max to allow scaling, percent does work */
    max-height: 80px;  /* Specify max to allow scaling, percent doesn't work */
    margin-top: 3px ;
    margin-bottom: 3px ;
    border: solid 0px #000000;  /* Strip any embellishments the brower may give us */
    margin-left: auto; /* Auto centring */
    margin-right: auto;  /* Auto centring */

}

div.IdPSelect div.preferredIdPName
{
  text-align: center;
  font-weight: normal;
  max-width: 95%;
  height: 40px;       /* Specify max height to allow two lines.  The 
                       * Javascript controlls the max length of the
                       * srings (although it seems like you should be able
                       * to do this from css ?)
                       */
}

/* 
 * Arrange to have the dropdown/list aref on the left and the 
 * help button on the right 
 */

div.IdPSelect a.IdpDropDownToggle
{
    display: inline-block;
    width: 80%;
}

div.IdPSelect a.HelpButton
{
    display: inline-block;
    text-align: right;
    width: 20%;
}

/**
 * Drop down (incremental search) stuff - see the associated javascript for reference
 */

 div.idpSelectDropDown {
    -moz-box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 6;
    position: absolute;   
}

div.idpSelectDropDown div {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

 div.idpSelectDropDown div.idpSelectCurrent {
    background-color: #3366cc;
    color: white;
}
/* END */
